/* Index */
.indexPrincipal{
	&__presentacion{
	@include bgLineas;
	}
}

.indexResumen{
	&__Tabla{
		@extend .backgroundRosado;
	}
}

.indexClientes{
	&__carta{
		@extend .backgroundRosado;
	}
}
/* Index */
/* servicio */
.servicioProductos{
	&__carta{
		@extend .backgroundRosado;
	}
}
/* servicio */
/*promociones */
.promocionCuadros{
	&__colorBlue{
		background-color: $bgAzul;
	}
}

.promocionCuadros{
	&__colorRed{
		background-color: $bgRed;
	}
}

.promocionCuadros{
	&__colorYellow{
		background-color: $bgYellow;
	}
}

/*promociones */
/* quienes somos */
.quienessomos{
	&__Presentacion{
		@include bgLineas;
	}

	&__personal__bg{
		@extend .backgroundRosado;
	}
}
/* quienes somos */
/* Contacto */
.contacto{
	&__bg{
		background-color: $bgCeleste;
	}
}
/* Contacto */
/* intranet */
.intranet{
	&__bg{
		@extend .backgroundRosado;
	}	
}
/* intranet */

