/* Index */
.indexPrincipal{
	&__presentacion{
	@include bgLineas;
	}
}

.indexResumen{
	&__Tabla{
		@extend .backgroundRosado;
	}
}

.indexClientes{
	&__carta{
		@extend .backgroundRosado;
	}
}
/* Index */
/* servicio */
.servicioProductos{
	&__carta{
		@extend .backgroundRosado;
	}
}
/* servicio */
/*promociones */
.promocionCuadros{
	&__colorBlue{
		background-color: $bgAzul;
	}
}

.promocionCuadros{
	&__colorRed{
		background-color: $bgRed;
	}
}

.promocionCuadros{
	&__colorYellow{
		background-color: $bgYellow;
	}
}

/*promociones */
/* quienes somos */
.quienessomos{
	&__Presentacion{
		@include bgLineas;
	}

	&__personal__bg{
		@extend .backgroundRosado;
	}
}
/* quienes somos */
/* Contacto */
.contacto{
	&__bg{
		background-color: $bgCeleste;
	}
}
/* Contacto */
/* intranet */
.intranet{
	&__bg{
		@extend .backgroundRosado;
	}	
}
/* intranet */

.disclaimer{
	display: none;
}

@media (min-width: 992px){
	/* Index */
	img[src="img/logo/logosmall.svg"]{
	  width: 70%;
	}
	/* Index */
	/* otros */
	img[src="../img/logo/logosmall.svg"]{
	  width: 70%;
	/* otros */
	}
  }

  .breadcrumb{
	padding: 2px 0 2px;
	border-top: 1px solid rgb(170, 170, 170);
	border-bottom: 1px solid  rgb(170, 170, 170);
  }