@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner&family=Roboto:wght@300;400;500&display=swap');

$edu:"'Edu QLD Beginner', cursive";
$roboto:"'Roboto', sans-serif";

/* Color */
$fcWhite: #FFFFFF;
$fcBlack: #000000;
/* color */

/* font sizes */
/* font sizes */

