$footer: 'footer';

.footer{
	@if $footer == 'pie'{
		background-color: $bgCeleste;
	}
	@else if $footer =='piegrande' {
		background-color: $bgAzul;
	}
	@else{
		background-color: $bgAzul;
	}

	color: $bgWhite;
	& a{
		text-decoration:none;
		color: $bgWhite;
	}

	& a img{
		width: 65%;
		
	}

	& a:hover{
		color: $bgGrey;
	}

	&__contenido{
		//padding: 0px;
		display:grid;
		justify-content: center;
	}

}