/*background*/ 
$bgRosado: rgba(232,225,202,1);
$bgCeleste: rgba(194,208,193,1);
$bgAzul: rgba(107,123,162,1);
$bgMorado: rgba(9,46,76,1);
$bgGrey: rgba(232,225,202,1);
$bgDarkgrey: rgba(229,221,221,.8);
$bgRosado: rgba(232,225,202,1);
$bgRed: #FF0000;
$bgYellow: #FFF000;
/*background*/ 
